
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 93px;
    background-color: rgb(22, 13, 103);
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav ul {
    display: flex; /*used to make the items flexible for diff screen sizes */
    justify-content: center; /* used to centerize all the items */
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    color: white;
  }
  nav ul li a:hover {
    color: rgb(0, 0, 33);
    font-size: 1.02rem;
  }
  .left {
    font-size: 2.5rem;
    color: white; /* 1.5 times the root elements of the font*/
  }
  .firstsection {
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
    align-items: center;
    height: 700px;
  }
  .firstsection > div {
    /* so that changes only applied on the first div */
    width: 30%;
    
  }
  .leftsection {
    font-size: 3rem;
  }
  .rightsection {
  }
  .purple {
    color: rgb(176, 87, 176);
  }
  #element {
    color: rgb(176, 87, 176);
  }
  .secondsection {
    max-width: 80vw;
    margin-left: 250px;
    height: 100vh;
    font-size: 2.1rem;

  }
  
  .secondsection ul  li {
    list-style: upper-alpha;
    margin: 60px;
    font-size: 3rem;
    color: white;
  }
  .thirdsection {
    max-width: 80vw;
    margin-left: 250px;
    height: 100vh;
    font-size: 1.9rem;
  }
  main hr {
    border: 2;
    margin: 23px 0;
    background-color: rgb(255, 255, 255);
    color: aqua;
  }
  
  .text-gray {
    color: gray;
  }
  .thirdsection .box {
    background: white;
    margin: 103px 0;
    width: 100%;
    height: 2px;
    display: flex;
  }
  .thirdsection .vertical {
  height: 87px;
  width: 1px;
  background-color: white;
  margin: 0 auto;
  }
  .image-top {
    width: 60px;
    position: relative;
    top: -39px;
    left: -9px;
  }
  
  body {
    background-color: rgb(0, 0, 33);
    color: rgb(94, 111, 185);
  }
  .vertical-title {
  position: relative;
  top: 52px;
  width: 190px;
  color: white;
  left: -5px;
  font-size: 28px;
  margin: 0 auto;
  }
  
  .vertical-desc {
    position: relative;
    top: 52px;
    width: 180px;
    color: gray;
    font-size: 15px;
    left: -5px;
    margin: 0 auto;
  }
  footer {
    background-color: #0e0e1a;
    height: 233px;
  }
  footer ul{
    list-style: none;
  }
  .flex {
    color: white;
    justify-content: space-around;
    display: flex;
    padding: 35px 0;
  }
  
  footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
  }